/* Default body background, fonts, and text color*/
body {
    background-color: #70a8c6;
    font-family: 'Trebuchet MS', sans-serif;
  }
  p {
    color: #152238;
    font-family: "Georgia";
  }
h1 {
  color: #2E5A88;

}
h3 {
  color: whitesmoke
}
/* #70a8c6 */
/* More bootstrap card customization */
/*
  .card {
    background-color: #c3e0dd;
}
*/

/* Navbar background and text color */
.navbar-custom{
  background-color: #436476;
}
.navbar-custom .nav-link {
  color: whitesmoke !important; 
}

.img-rounded{
  border-radius: 20%;
}

.button-container {
  text-align: center;
  margin-top: 40px;
}