<div class="container">
    <h1>Register</h1>
    <form action="/register" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" class="form-control" required-id="username" name="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" class="form-control" required-id="password" name="password">
        </div>
        <button id="register_button" class="btn btn-primary" type="submit">
                Register
        </button>
        <span><p>Already have an account?</p><a href="/login">Login</a></span>
    </form>
</div>
{{> message}}